---
openapi: 3.0.0
info:
  title: assignment 3.1
  description: api frontend and backend
  termsOfService: https:/something
  contact:
    name: Liron Zvi
    email: lironzv@post.bgu.ac.il
  version: 1.0.0-oas3
servers:
- url: "https://liron-ofir.cs.bgu.ac.il:443"
  description: data server
paths:
  /getAllRecipes:
    get:
      description: Obtain information about recipes from the data server
      responses:
        "200":
          description: Successful pull of recipes info
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/inline_response_200'
  /watchedTheRecipe:
    post:
      description: changes the watched field to t
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/watchedTheRecipe_body'
        required: true
      responses:
        "200":
          description: Successfully updated the watched field
        "404":
          description: recipe not found
  /addToFavorite:
    put:
      description: add recipe to favorite
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/addToFavorite_body'
        required: true
      responses:
        "200":
          description: Successfully added the recipe to favorites
        "404":
          description: recipe not found
  /addUser:
    post:
      description: Creates a new user in the database
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/addUser_body'
        required: true
      responses:
        "200":
          description: Successfully created a new employee
        "400":
          description: bad request - wrong details
  /addNewRecipe:
    post:
      description: Creates a new recipe in the database
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/addNewRecipe_body'
        required: true
      responses:
        "200":
          description: Successfully created a new employee
  /validateUser:
    get:
      description: Obtain information about recipes from the data server
      parameters:
      - name: username
        in: query
        description: username
        required: false
        style: form
        explode: true
        schema:
          maximum: 20
          minimum: 10
          type: string
          example: ofir
      - name: password
        in: query
        description: users password
        required: false
        style: form
        explode: true
        schema:
          maximum: 20
          minimum: 10
          type: string
          example: password
      responses:
        "200":
          description: user and password are valid
          content:
            application/json:
              schema:
                type: boolean
  /getFavoriteRecipes:
    get:
      description: Obtain information about favorite recipes from the data server
      responses:
        "200":
          description: Successful pull of recipes info
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/inline_response_200'
  /getMyRecipes:
    get:
      description: Obtain information about favorite recipes from the data server
      responses:
        "200":
          description: Successful pull of recipes info
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/inline_response_200'
  /getFamilyRecipes:
    get:
      description: Obtain information about favorite recipes from the data server
      responses:
        "200":
          description: Successful pull of recipes info
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/inline_response_200'
components:
  schemas:
    inline_response_200:
      properties:
        image:
          type: object
          example: lironOfir.jpg
        title:
          type: string
          example: meatballs
        preperation time:
          type: integer
          example: 30
        popularity:
          type: integer
          example: 40
        vegan vageiterian:
          type: string
          example: vegan
        gluten free:
          type: boolean
          example: true
        watched:
          type: boolean
          example: true
        if favorite:
          type: boolean
          example: true
    watchedTheRecipe_body:
      type: object
      properties:
        title:
          type: string
          example: meatball
    addToFavorite_body:
      type: object
      properties:
        title:
          type: string
          example: meatball
    addUser_body:
      type: object
      properties:
        username:
          type: string
          example: Ryan Pinkham
        password:
          type: string
          example: Market Manager
        first name:
          type: string
          example: liron
        last name:
          type: string
          example: zvi
        country:
          type: string
          example: israel
        email:
          type: string
          example: e@gmail.com
    addNewRecipe_body:
      type: object
      properties:
        image:
          type: object
          example: lironOfir.jpg
        title:
          type: string
          example: meatballs
        preperation time:
          type: integer
          example: 30
        popularity:
          type: integer
          example: 40
        vegan vageiterian:
          type: string
          example: vegan
        gluten free:
          type: boolean
          example: true
        watched:
          type: boolean
          example: true
        if favorite:
          type: boolean
          example: true
